* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --logoSize: 200px;
  --clickedButtonShadow: inset 0px 0px 3px grey;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

.header {
  height: 120px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0a131e;
}

.header img {
  height: var(--logoSize);
  width: var(--logoSize);
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.form-nav button {
  border: 0px;
  border-radius: 5px;
  padding: 0.75rem;
}

.form-nav button:active {
  box-shadow: var(--clickedButtonShadow);
}
