* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --logoSize: 200px;
  --clickedButtonShadow: inset 0px 0px 3px grey;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

.header {
  height: 120px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0a131e;
}

.header img {
  height: var(--logoSize);
  width: var(--logoSize);
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.form-nav button {
  border: 0px;
  border-radius: 5px;
  padding: 0.75rem;
}

.form-nav button:active {
  box-shadow: var(--clickedButtonShadow);
}

.course-form > form {
  width: clamp(400px, 65vw, 600px);
  background-color: silver;
  margin: 25px auto;
  padding: 10px;
  border-radius: 10px;

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.course-form form > label:first-child {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: center;
}

.course-form button:active {
  box-shadow: var(--clickedButtonShadow);
}

.course-form button[type="submit"] {
  grid-area: 3 / 2 / 4 / 3;
  color: white;
  background-color: #2bb932;
  border: 1px solid black;
  padding: 0.75rem;
}

/*Start of styling for User Details form*/

.user-info-form > form {
  width: clamp(400px, 65vw, 650px);
  background-color: silver;
  margin: 25px auto;
  padding: 10px 1rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.user-info-form :is(label, input) {
  margin: 5px 5px;
}

.user-info-form :is(.name-wrapper, .location-wrapper) {
  display: flex;
}

:is(.name-wrapper, .location-wrapper) input {
  flex: 1;
}

/*End of styling for User Details form*/
