* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --logoSize: 200px;
  --clickedButtonShadow: inset 0px 0px 3px grey;

  --submitButtonBackgroundColor: #2bb932;
  --submitButtonColor: white;
  --submitButtonBorder: 1px solid black;
  --submitButtonPadding: 0.75rem;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

.header {
  height: 120px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0a131e;
}

.header img {
  height: var(--logoSize);
  width: var(--logoSize);
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.form-nav button {
  border: 0px;
  border-radius: 5px;
  padding: 0.75rem;
}

.form-nav button:active {
  box-shadow: var(--clickedButtonShadow);
}

.course-form > form {
  width: clamp(400px, 65vw, 600px);
  background-color: silver;
  margin: 25px auto;
  padding: 10px;
  border-radius: 10px;

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.course-form form > label:first-child {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: center;
}

.course-form button:active {
  box-shadow: var(--clickedButtonShadow);
}

.course-form button[type="submit"] {
  grid-area: 3 / 2 / 4 / 3;
  color: var(--submitButtonColor);
  background-color: var(--submitButtonBackgroundColor);
  border: var(--submitButtonBorder);
  padding: var(--submitButtonPadding);
}

.course-form button.selected {
  background-color: #ddd;
}

.course-form {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in 500ms ease-in-out 0s 1 forwards normal;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0, 0);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

/*Start of styling for User Details form*/

.user-info-form > form {
  width: clamp(400px, 65vw, 650px);
  background-color: silver;
  margin: 25px auto;
  padding: 10px 1rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.user-info-form :is(label, input) {
  margin: 5px 5px;
}

.user-info-form :is(.name-wrapper, .location-wrapper) {
  display: flex;
}

:is(.name-wrapper, .location-wrapper) input {
  flex: 1;
}

.user-info-form button {
  width: 100px;
  margin: auto;

  color: var(--submitButtonColor);
  background-color: var(--submitButtonBackgroundColor);
  border: var(--submitButtonBorder);
  padding: var(--submitButtonPadding);
}

.user-info-form {
  transform: translate(100%);
}

/*End of styling for User Details form*/
