* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --logoSize: 200px;
}

.header {
  height: 120px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0a131e;
}

.header img {
  height: var(--logoSize);
  width: var(--logoSize);
}

nav {
  display: flex;
  justify-content: space-evenly;
}
